.sidebar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 331px;
    height: 1092px;
    flex-shrink: 0;
    color: white;
    background-color: #3e3e3e8a;
    border-right: 1px solid #ddd;
    z-index: 0;
    overflow-y: auto;
}


.astig-logo {
    margin: 30px;
    z-index: 1000;
    width: 268px;
    height: 131px;
    flex-shrink: 0;
    aspect-ratio: 268/131;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em 0;
    padding: 0;
}

.navigation-item {
    display: flex;
    width: 33px;
    height: 72px;
    padding: 10px 150px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    opacity: 0.8;
    background: rgba(92, 12, 13, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
}